[submodule "src/taming-transformers"]
	path = src/taming-transformers
	url = "https://github.com/CompVis/taming-transformers@master#egg=taming-transformers"
[submodule "eval_tool/Deep3DFaceRecon_pytorch_edit/nvdiffrast"]
	path = eval_tool/Deep3DFaceRecon_pytorch_edit/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast
